# Rust
target/
*.log
save.json
*コピー*
*.txt
# OS
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
*.pdb
# エディタ
.vscode/
.claude/

#ブック
docs/book/
parser_original.rs
runtime_original.rs
lib_original.rs
codegen_original.rs
analyzer_oliginal.rs
